div.entry {
    border: 1px solid orange;
    width: 90%;
    clear: right;
    padding: 2px 0 0 3px;
}


div.auth_name {
    border: 1px solid blue;
    font-size: .9em;
    font-weight: bold;

}

div.post_date {
    font-size: .9em;
    position: relative;
    float: right;
}

div.wrapper {
    width: 81%;
    border: 1px solid black;
    margin: 5px 0 0 5px;
}

.comment_text {
    position: relative;
    width: 80%;
    height: 100px;
}

div.comment_text {
    border: 1px solid green;
}

div.comment_name {
    border: 1px solid yellow;
}

div.comment_date {
    border: 1px solid tan;
}